@using Cassette.Nancy
@using Nancy.ViewEngines.Razor
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{ 
    Bundles.Reference("Content/CSS");
    Bundles.Reference("Scripts");
}

<!DOCTYPE html>
<html>
<head>
    <title>Plating</title>
    <link rel="icon" href="Content/icon.png?v=3" />
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GitHub Button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @Bundles.RenderStylesheets()
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false"
                        class="navbar-toggle collapsed"
                        data-target="#navbar-collapse"
                        data-toggle="collapse"
                        type="button">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">P L A T I N G</a>
            </div>  
        </div>
    </nav>

    <div id="body-container">
        @RenderBody()
    </div>
    @Bundles.RenderScripts()
</body>
</html>
