@using Nancy.ViewEngines.Razor

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = "Shared/_layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1>
            Plating
        </h1>
        <p>
            Barcodes as a service.
        </p>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <h2>
            How to use:
        </h2>
        <p>
            Using the address bar of your browser:<br/>
            Add <code>/barcode/{your content}/{barcode format}</code> to the end of this page's URL, where {your content} is the text you would like encoded and {format} is one of the supported barcode types. Code128 is the default format.<br/><br/>
            For example: <a href="barcode/helloworld"><pre>plating.azurewebsites.net/barcode/helloworld</pre></a>
        </p>
    </div>

    <div class="col-md-6">
        <h2>
            Format
        </h2>
        <p>
            The following barcode formats are supported:
            <ul>
                <li><code>code128</code> (Code 128)</li>
                <li><code>qr</code> (QR Code)</li>
            </ul>
        </p>
    </div>
</div>